In [39]:
import pandas as pd
import random
import time

# Creating the table for flowers in the database

In [40]:
flower_types = ['alstromelia', 'bouquet_rose_white', 'bouquet_rose_red', 'bouquet_rose_yellow',
               'bouquet_rose_orange', 'pom', 'tulip', 'hydrangea', 'carnation', 'minicarnation',
               'spiders', 'spray rose', 'gypsophilia']

In [43]:
damage = [3, 1, 1, 1,
           1, 1.5, 2, 1, 2, 3,
           2, 2, 4]
cost = [ 5, 10, 10, 10,
        10, 7, 5, 10, 8, 6,
        9, 5, 3    
        ]
flower_types_with_damage = []

for i in range(len(flower_types)):
    flower_types_with_damage.append((flower_types[i], damage[i], cost[i]))

In [44]:
df_flowers = pd.DataFrame(flower_types_with_damage, columns = ['flower_name', 'damage_function', 'cost_cad']
                         ).reset_index(
).rename(columns = {'index': 'flower_id'})

In [45]:
df_flowers

    flower_id          flower_name  damage_function  cost_cad
0           0          alstromelia              3.0         5
1           1   bouquet_rose_white              1.0        10
2           2     bouquet_rose_red              1.0        10
3           3  bouquet_rose_yellow              1.0        10
4           4  bouquet_rose_orange              1.0        10
5           5                  pom              1.5         7
6           6                tulip              2.0         5
7           7            hydrangea              1.0        10
8           8            carnation              2.0         8
9           9        minicarnation              3.0         6
10         10              spiders              2.0         9
11         11           spray rose              2.0         5
12         12          gypsophilia              4.0         3

In [46]:
df_flowers.to_csv('data/flowers.csv', index=False)

# Creating the table for orders in the database

In [47]:
customers = pd.read_csv('data/customers.csv')
flowers = pd.read_csv('data/flowers.csv')

In [48]:
def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%Y/%m/%d %I:%M %p', prop)

In [49]:
random.choice(customers.customer_id)

536

In [50]:
rows_orders = []
counter = 0
for i in range(2000):
    '''Schema: order_id, customer_id, order_date, flower_id, quantity'''
    rows_orders.append((counter, 
                        random.choice(customers.customer_id),
                        random_date("2024/2/15 1:30 PM", "2024/4/30 4:50 AM", random.random()),
                        random.choice(flowers.flower_id),
                        random.choice(range(1, 30))
                       ))
    counter += 1

In [51]:
orders_df = pd.DataFrame(rows_orders, columns = ['order_id', 'customer_id', 'order_date', 'flower_id', 'quantity'])

In [52]:
orders_df.head()

   order_id  customer_id           order_date  flower_id  quantity
0         0          335  2024/03/19 10:49 PM          7        26
1         1           35  2024/04/16 05:47 AM          5        24
2         2          295  2024/03/07 12:25 AM          5        20
3         3          421  2024/03/03 03:42 AM          3        22
4         4          156  2024/04/11 02:16 PM          4        20

In [53]:
orders_df.to_csv('data/orders.csv', index=False)

# Creating tables for shipments in the database

In [54]:
shipment_orders = []
counter = 0
for i in range(300):
    '''Schema: shipment_id, shipment_date, flower_id, quantity'''
    shipment_orders.append((counter, 
                        random_date("2023/12/28 1:30 PM", "2024/2/11 4:50 AM", random.random()),
                        random.choice(flowers.flower_id),
                        random.choice(range(200, 2000))
                       ))
    counter += 1

In [55]:
shipments_df = pd.DataFrame(shipment_orders, columns = ['shipment_id', 'shipment_date', 'flower_id', 'quantity'])

In [56]:
shipments_df

     shipment_id        shipment_date  flower_id  quantity
0              0  2024/01/08 05:35 PM          4       738
1              1  2024/01/09 05:28 AM          5      1673
2              2  2024/01/11 04:56 PM         10      1330
3              3  2024/01/19 04:43 AM          0      1950
4              4  2024/01/19 04:41 PM          4      1853
..           ...                  ...        ...       ...
295          295  2023/12/30 07:14 AM          3      1096
296          296  2023/12/31 04:37 AM          1       487
297          297  2024/02/06 05:41 PM          4      1289
298          298  2024/01/27 12:22 PM         11      1374
299          299  2024/02/03 10:18 AM          3      1510

[300 rows x 4 columns]

In [57]:
shipments_df.to_csv('data/shipments.csv', index=False)