In [199]:
import pandas as pd
import random
import time

# Creating the table for flowers in the database

In [200]:
flower_types = ['alstromelia', 'bouquet_rose_white', 'bouquet_rose_red', 'bouquet_rose_yellow',
               'bouquet_rose_orange', 'pom', 'tulip', 'hydrangea', 'carnation', 'minicarnation',
               'spiders', 'spray rose', 'gypsophilia']

In [201]:
damage = [3, 1, 1, 1,
           1, 1.5, 2, 1, 2, 3,
           2, 2, 4]
flower_types_with_damage = []

for i in range(len(flower_types)):
    flower_types_with_damage.append((flower_types[i], damage[i]))

In [202]:
df_flowers = pd.DataFrame(flower_types_with_damage, columns = ['flower_name', 'damage_function']).reset_index(
).rename(columns = {'index': 'flower_id'})

In [203]:
df_flowers

    flower_id          flower_name  damage_function
0           0          alstromelia              3.0
1           1   bouquet_rose_white              1.0
2           2     bouquet_rose_red              1.0
3           3  bouquet_rose_yellow              1.0
4           4  bouquet_rose_orange              1.0
5           5                  pom              1.5
6           6                tulip              2.0
7           7            hydrangea              1.0
8           8            carnation              2.0
9           9        minicarnation              3.0
10         10              spiders              2.0
11         11           spray rose              2.0
12         12          gypsophilia              4.0

In [204]:
df_flowers.to_csv('data/flowers.csv', index=False)

# Creating the table for orders in the database

In [205]:
customers = pd.read_csv('data/customers.csv')
flowers = pd.read_csv('data/flowers.csv')

In [206]:
def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%Y/%m/%d %I:%M %p', prop)

In [207]:
random.choice(customers.customer_id)

125

In [208]:
rows_orders = []
counter = 0
for i in range(2000):
    '''Schema: order_id, customer_id, order_date, flower_id, quantity'''
    rows_orders.append((counter, 
                        random.choice(customers.customer_id),
                        random_date("2024/2/15 1:30 PM", "2024/4/30 4:50 AM", random.random()),
                        random.choice(flowers.flower_id),
                        random.choice(range(1, 30))
                       ))
    counter += 1

In [209]:
orders_df = pd.DataFrame(rows_orders, columns = ['order_id', 'customer_id', 'order_date', 'flower_id', 'quantity'])

In [210]:
orders_df.head()

   order_id  customer_id           order_date  flower_id  quantity
0         0           17  2024/03/13 01:47 PM          3         6
1         1           12  2024/02/17 02:29 PM          3        19
2         2          216  2024/03/25 04:02 AM          2        28
3         3          104  2024/03/28 06:40 PM          2         5
4         4          405  2024/02/16 03:35 AM          3        18

In [211]:
orders_df.to_csv('data/orders.csv', index=False)

# Creating tables for shipments in the database

In [212]:
shipment_orders = []
counter = 0
for i in range(300):
    '''Schema: shipment_id, shipment_date, flower_id, quantity'''
    shipment_orders.append((counter, 
                        random_date("2024/2/15 1:30 PM", "2024/4/30 4:50 AM", random.random()),
                        random.choice(flowers.flower_id),
                        random.choice(range(200, 2000))
                       ))
    counter += 1

In [213]:
shipments_df = pd.DataFrame(shipment_orders, columns = ['shipment_id', 'shipment_date', 'flower_id', 'quantity'])

In [214]:
shipments_df

     shipment_id        shipment_date  flower_id  quantity
0              0  2024/04/09 01:28 AM          6       634
1              1  2024/03/07 05:15 PM          0      1309
2              2  2024/02/17 10:48 AM         11       741
3              3  2024/04/18 05:27 AM          3      1671
4              4  2024/03/21 06:30 AM         11       827
..           ...                  ...        ...       ...
295          295  2024/03/24 01:06 PM          7       433
296          296  2024/04/23 06:04 PM          0      1619
297          297  2024/03/23 05:21 AM          9       971
298          298  2024/04/06 07:10 AM         10       601
299          299  2024/02/16 02:18 PM          0       799

[300 rows x 4 columns]

In [215]:
shipments_df.to_csv('data/shipments.csv', index=False)